html, body {
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #1d2c63;
    max-width: 1024px;
    margin: auto;
    height: auto;
}

footer p {
    margin-top: 1rem;
}

footer a {
    color: #f8f8f8 !important;
}
footer a:hover {
    color: #c1d5ea !important;
}

.lightgray {
    color: #f8f8f8 !important;
}

.navbar {
    background-color: #46668d;
    border-bottom: 10px solid #e7e7e7;
    max-width: 1024px !important;
    margin: auto;
}

.navbar-brand:hover {
    color: #c1d5ea !important;
}
.nav-link:hover {
    color: #c1d5ea !important;
}

.projects {
    flex: 1 1 auto;
    max-width: 1024px !important;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.project {
    padding: 1%;
}

.error {
    background-color: #d9534f;
    color: #e7e7e7;
}

