html, body {
    min-height: 100vh;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    /*max-width: 1024px !important;*/
    flex: 1 1 auto;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.logo img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

footer {
    /*background-color: #1d2c63;*/
    max-width: 1024px;
    margin: auto;
    height: auto;
}

footer p {
    margin-top: 1rem;
}

footer a {
    color: #aaaaaa !important;
}
footer a:hover {
    color: #c1d5ea !important;
}

.lightgray {
    color: #f8f8f8 !important;
}

.navbar {
    background-color: #000000;
    box-shadow: 0px 0px 10px 3px #111;
    /*max-width: 1024px !important;
    border-bottom: 10px solid #e7e7e7;
    margin: auto;*/
}

.navbar-brand:hover {
    color: #c1d5ea !important;
}
.nav-link:hover {
    color: #c1d5ea !important;
}

.project {
    padding: 1%;
}

.error {
    background-color: #d9534f;
    color: #e7e7e7;
}

